/*:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
    --primary-color: #21023e;
    --secondary-color: #250f37;
    --dark-secondary-color: #4a3c5c;
    --tertiary-color: #cea6e1;
    --light-tertiary-color: #f7f3fb;
    --text-color: #433448;
  
    --font-family: 'DM Sans', sans-serif;
}

:root dark-mode {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #21023e;
  --secondary-color: #250f37;
  --dark-secondary-color: #4a3c5c;
  --tertiary-color: #cea6e1;
  --light-tertiary-color: #f7f3fb;
  --text-color: #433448;

  --font-family: 'DM Sans', sans-serif;
}
